# Global Agent Configuration

{% for element in telegraf__combined_config | parse_kv_items %}
{%   if element.name|d() and element.state|d('present') not in [ 'absent', 'ignore' ] %}

{%     if '.' in element.name %}
{{ '[[{}]]'.format(element.name) }}
{%     else %}
{{ '[{}]'.format(element.name) }}
{%     endif %}
{%     if element.options|d() %}
{%       for thing in element.options %}
{%          if thing.name|d() and thing.value|d() and thing.state|d('present') != 'absent' %}
{{ '   {} = {}'.format(thing.name, thing.value) }}
{%         endif %}
{%       endfor %}
{%     endif %}
{%   endif %}
{% endfor %}

# Input Plugins
# [[inputs.cpu]]
#     percpu = true
#     totalcpu = true
#     collect_cpu_time = false
#     report_active = false
# [[inputs.disk]]
#     ignore_fs = ["tmpfs", "devtmpfs", "devfs"]
# [[inputs.io]]
# [[inputs.mem]]
# [[inputs.net]]
# [[inputs.system]]
# [[inputs.swap]]
# [[inputs.netstat]]
# [[inputs.processes]]
# [[inputs.kernel]]


# # Output Plugin InfluxDB
# [[outputs.influxdb]]
#   database = "bechea"
#   urls = [ "http://127.0.0.1:8086" ]
#   username = "john"
#   password = "s3cr3t"